# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Test/cache files
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/